.item {
   width: 19%;
   display: flex;
   flex-direction: column;
   height: 220px;
   align-items: center;
   position: relative;

   .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
   }

   .logo {
      padding: 5px;
      width: 40px;
      height: 40px;
      opacity: 0.7;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
         padding: 0;
      }
   }

   .footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 13px;

      .name {
         width: 90%;
         margin-bottom: 15px;
      }

      .price {
         width: 10%;
      }
   }
}
