.item {
   width: 19%;
   display: flex;
   flex-direction: column;
   height: 220px;
   align-items: center;
   position: relative;
   transition: transform 0.2s;
   &:hover {
      transform: scale(1.1);
   }

   .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      cursor: pointer;
   }

   .logo {
      padding: 5px;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      background-color: white;
      border-radius: 50%;

      &:hover {
         padding: 2px;
      }
   }

   .logo-sale1 {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0px;
      left: 0px;
   }

   .footer {
      width: 100%;
      height: 8%;
      display: flex;
      justify-content: space-between;
      font-size: 13px;

      .name {
         width: 85%;
         margin-bottom: 15px;
      }

      .price {
         width: 15%;
         text-align: center;
         background-color: rgba(255, 0, 0, 0.575);
         color: white;
         border-radius: 5px;
      }
   }
}
