.item-section {
   margin: 50px 20px;
   flex: 1 0 20%;
   height: 220px;
   width: 300px;
   align-items: center;
   position: relative;

   .image-section {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
   }

   .logo-section {
      padding: 5px;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      background-color: white;
      border-radius: 50%;

      &:hover {
         padding: 2px;
      }
   }

   .logo-sale {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0px;
   }

   .footer-section {
      width: 100%;
      height: 8%;
      display: flex;
      justify-content: space-between;
      font-size: 13px;

      .name-section {
         width: 85%;
         margin-bottom: 15px;
      }

      .price-section {
         width: 15%;
         text-align: center;
         background-color: rgba(255, 0, 0, 0.575);
         color: white;
         border-radius: 5px;
      }
   }
}
