.sale-h1 {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.sale-items {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 50px;
}

.sale-input {
   width: 200px;
   font-size: 18px;
   border: none;
   border-bottom: 1px solid gray;
   display: block;
   padding: 10px 10px 10px 5px;
   margin-top: -50px;
   outline: none;
}
