.header {
   height: 70px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;

   .logo-home {
      margin-top: 20px;
      height: 55px;
      width: 55px;
   }

   .home-text {
      position: absolute;
      margin-left: 85px;
      margin-top: 28px;
      font-size: 33px;
      font-family: 'Big Shoulders Stencil Display', cursive;
   }

   .logo-sale {
      margin-right: 30px;
      height: 100%;
      padding-top: 15px;
      width: 35px;
   }

   .logo-cart {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      .icon {
         width: 30px;
         height: 30px;
      }

      .counter {
         position: absolute;
         font-size: 12px;
         left: 12px;
         top: 18px;
      }
   }

   .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
         padding: 10px 15px;
         cursor: pointer;
         border-radius: 5px;
      }
   }
}
